<section id="about">
    <h2>About</h2>
    <p *ngFor="let i of counter(3)">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, voluptatem quisquam quibusdam molestiae quaerat perferendis in nostrum cupiditate doloremque et odio veritatis modi similique omnis qui aliquam deleniti fugiat tenetur!</p>
</section>

<section id="experience">
    <h2>Experience</h2>
    <p *ngFor="let i of counter(3)">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, voluptatem quisquam quibusdam molestiae quaerat perferendis in nostrum cupiditate doloremque et odio veritatis modi similique omnis qui aliquam deleniti fugiat tenetur!</p>
</section>

<section id="projects">
    <h2>Projects</h2>
    <p *ngFor="let i of counter(3)">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, voluptatem quisquam quibusdam molestiae quaerat perferendis in nostrum cupiditate doloremque et odio veritatis modi similique omnis qui aliquam deleniti fugiat tenetur!</p>
</section>