@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --darkvador: #120f18;
    --lblue: #45CEFF;
    --teal: #03CFD6;
    --dblue: #3862EB;
    --purple: #954EEC;
    --pink: #F651B1;
    --walter-white: #f3f3f5;
    --mid-white: #e9e9ec;
    --washed-white: #f0fbfcc0;
    --grid-color: #80809012;
}

html {
    scroll-behavior: smooth;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-variant: lining-nums;
    font-synthesis: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 300;
    color: var(--washed-white);
    background-color: var(--darkvador);
    &:has( aside.active) { overflow: hidden; }
}

::-webkit-scrollbar { display: none; }