<header>
    <h1>{{ name }}</h1>
    <h2>{{ position }}</h2>
    <p>{{ catchPhrase }}</p>

    <nav id="nav-links">
        <a class="active" href="/#" title="Go to the 'About' section" referrerpolicy="same-origin">About</a>
        <a href="/#experience" title="Go to the 'Experience' section" referrerpolicy="same-origin">Experience</a>
        <a href="/#projects" title="Go to the 'Projects' section" referrerpolicy="same-origin">Projects</a>
    </nav>

    <ul id="social-links">
        <li *ngFor="let social of socials">
            <a href="{{ social.link }}" title="{{ social.icon.iconName }}" target="_blank" referrerpolicy="noreferrer">
                <fa-icon [icon]="social.icon"></fa-icon>
            </a>
        </li>
    </ul>
</header>