<header>
    <h1>{{ name }}</h1>
    <h2>{{ position }}</h2>
    <p>{{ catchPhrase }}</p>

    <nav id="nav-links">
        <ol>
            <li><a routerLink="/">About</a></li>
            <li><a routerLink="/experience">Experience</a></li>
            <li><a routerLink="/projects">Projects</a></li>
        </ol>
    </nav>

    <ul id="social-links">
        <li *ngFor="let social of socials">
            <a href="{{ social.link }}" title="{{ social.icon.iconName }}" target="_blank" referrerpolicy="noreferrer">
                <fa-icon [icon]="social.icon"></fa-icon>
            </a>
        </li>
    </ul>
</header>